.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 3rem;
    background-color: #fff;
    border-bottom: 1px solid #eee;
  }
  
  .nav-links button {
    margin: 0 15px;
    text-decoration: none;
    background: none;
    border: none;
    font-size: 1rem;
    color: #333;
    cursor: pointer;
  }
  
  .auth-buttons button {
    margin-left: 10px;
    padding: 0.5rem 1rem;
    border: none;
    font-weight: bold;
    cursor: pointer;
    color: white;
    background-color: #f44336;
    border-radius: 5px;
  }
  
  .hero {
    text-align: center;
    padding: 100px 20px;
  }
  
  .hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .hero .bold {
    font-weight: 700;
  }
  
  .hero p {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 2rem;
  }
  
  .hero button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .hero button:hover {
    background-color: #d7372d;
  }